body {
    --red: #631217;
    --yellow: #FFCA59;
    margin: 0;
    background-color: #575756;
    background: url(resources/bg.jpg) fixed 100% 100%; 
    background-repeat: repeat-x;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    
}

footer {
    background-color: var(--red);
    margin-top: 60px;
    text-align: left;
    max-width: 100% !important;
    position: absolute;
    left: 0;
    width: 100vw;
}`

.movie {
    display: flex;
    flex-wrap: wrap;
}

.imagine {
    justify-self: right;
}

.meniu {
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: var(--red);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 15vw;
}

nav {
    height: 5vh;
    width: 25vw;
    column-gap: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: right;
}

.link {
    font-size: x-large;
}

.filme {
    display: flex;
    flex-direction: row;
    column-gap: 4vw;
    justify-content: center;
}   

h1 {
    letter-spacing: 2px;
    font-size: 50px;
}

.film {
    width: 55vh;
    height: 50vh;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--yellow);
    border-radius: 5%;
    transition: 0.2s;
}

.title {
    font-size: large;
}

.poza {
    padding-top: 10px;
    height: 20vh;
    width: 18vw;
}

#doc > a > img {
    height: 18vh;
    width: 18vw;
}

#mater > a > img {
    height: 20vh;
    width: 15vw;
}

#logo {
    padding-left: 3vw;
    padding-right: 12vw;
    height: 8vh;
}

.movie {

    border: 2px solid var(--yellow);
    border-radius: 5%;
    padding: 6vh 6vh 6vh 6vh;
    margin: 8vh 8vh 8vh 8vh;
}

footer {
    text-align: center;
}

#kachow {
    font-size: x-large;
}


.film:hover, .character:hover {
    box-shadow: 0 0 10px 8px red;
    transform: scale(105%);
}

#sally:hover {
    box-shadow: 0 0 10px 8px rgb(96, 159, 252);
}

#mater:hover {
    box-shadow: 0 0 10px 8px lightgrey;
}

#doc:hover {
    box-shadow: 0 0 10px 8px darkblue;
}

@font-face {
    font-family: magneto;
    src: url("resources/magneto.ttf");
}

@font-face {
    font-family: work-sans;
    src: url("resources/work-sans.ttf");
}


p, h3, h4, a {
    font-family: work-sans;
    color: var(--yellow);
    text-decoration: none;

    /* border: 5px solid red; */
}

h1, h2{
    color: var(--yellow);
    font-family: magneto;
    padding-left: 50px;
}

.link {
    color: var(--yellow);
    font-family: magneto;
}

.poster {
    margin-left: 3.8vw;
    width: 20vw;
    height: 23vh;
    border-radius: 5%;
}

#character-title {
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

.personaje {
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 10%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 80% 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 20%;
    grid-template-areas: "a b" "c d";
}

.character {
    height: 40vh;
    width: 30vw;
    border: 2px solid var(--yellow);
    border-radius: 5%;
    transition: 0.2s;
    overflow: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

.character > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) and (max-width: 80em) {
    .bonus {
        display: none;
    }
    .character {
        height: 32vh;
        width: 28vw;
    }
    .film {
        height: 35vh;
        width: 25vw;
    }
    .filme {
        padding-left: 5px;
        padding-right: 5px;;
    }
    h1, h2 {
        font-size: xx-large;
    }
    .poster {
        margin-top: 1vh;
        margin-left: 0;
        transform: scale(90%);
    }
    .link, #contact > p {
        font-size: medium
    }
}

@media (orientation: landscape) and (max-width: 50em) {
    .bonus, .title, #kachow {
        display: none;
    }

    .character {
        height: 32vh;
        width: 28vw;
    }
    .film {
        height: 35vh;
        width: 25vw;
    }
    .filme {
        padding-left: 5px;
        padding-right: 5px;;
    }
    h1, h2 {
        font-size: large;
    }
    .poster {
        margin-top: 1vh;
        margin-left: 0;
        transform: scale(90%);
    }
    .link, #contact > p {
        font-size: 3vh;
    }
}

@media (orientation: portrait) and (max-width: 50em) {
    .meniu {
        position: static;
        height: 12vh;
    }
    .character {
        height: 32vh;
        width: 28vw;
    }
    .film {
        height: 35vh;
        width: 25vw;
    }
    h1, h2 {
        /* position: static; */
        padding-top: 5vh;
        text-align: center;
        font-size: xx-large;
    }
    #movies > h1, #character-title {
        padding-left: 0;
    }
    .poster {
        margin-left: 10vw;
    }
    #kachow{
        display: none;
    }
    nav {
        padding-top: 2vh;
        align-self: start !important;
        flex-direction: column;    
        row-gap: 0.5vh;
    }
    .personaje, .filme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5vh;
        padding-bottom: 5vh;
        padding-top: 5vh;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }
    .film {
        width: 80vw;
        height: 45vh;
    }
    .character {
        width: 80vw;
        height: 40vh;
    }
    .poster, .poza, #doc > a > img, #mater > a > img {
        width: 60vw;
        height: 20vh;
    }
}

@media (min-width: 140em) {
    p {
        font-size: 2vh;
    }
    h1, h2, h3, h4, #kachow, .link{
        transform: scale(200%);
    }
    .title {
        transform: scale(250%);

    }

}